/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  text-align: center;
}

header {
  background:#efeee7;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color:brown;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: left;
  color: brown;
}

h3 {
  font-size: 20px;
  text-align: left;
  color:black;
}

a {
  color:black;
  text-align: left;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main
{float:left;}

#side {
  margin: 0 auto;
  float: center;
  text-align: right;
  font-size: 24px;
  color:black;

}