<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>Supplier Quality Data Analysis</title>
            <link rel="stylesheet" type="text/css" href="style.css">
    </head>


    <body>
        
        <header>
        <h1>Supplier Quality Data Analysis (SQDA)</h1>
        <hr>
        </header> 
        
        <main class="container">
        <section id="main">
        <h2>Sample Data Statistics</h2>
        
        
        {numbers_so_far}
        {errors}
        <p>Enter Your Data:</p>
        <form method="post" action=".">
            <p><input name="number" /></p>
            <p><input type="submit" name="action" value="Add More Data" /></p>
            <p><input type="submit" name="action" value="Standard Deviation" /></p>
        </form>

    </body>
</html>